---
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro';
---

<Layout title="Neon button glow effect">
	<main class="button-container">
		<Button text='Neon button animation 1' class='button-effect-1' />
		<Button text='Neon button animation 2' class='button-effect-2' />
		<Button text='Neon button animation 3' class='button-effect-3' />
		<Button text='Neon button animation 4' class='button-effect-4' />
		<Button text='Neon button animation 5' class='button-effect-5' />
		<Button text='Neon button animation 6' class='button-effect-6' />
	</main>
</Layout>

<style>
	.button-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 40px;
		padding: 100px 0;

		@media screen and (min-width: 768px) {
			gap: 2rem 6rem;
		}
	}

	.button-effect-2 {
		&::before {
			filter: blur(5px);
		}
	}

	.button-effect-3 {
		&::after {
			background: transparent;
		}
	}

	.button-effect-4 {
		&::before {
			filter: blur(5px);
		}
		
		&::after {
			background: transparent;
		}
	}

	.button-effect-5 {
		&::before {
			background-size: 4000%;
		}

		&::after {
			background: transparent;
		}
	}

	.button-effect-6 {
		&::before {
			background-size: 4000%;
			filter: blur(5px);
		}

		&::after {
			background: transparent;
		}
	}
</style>